@model MetricaEngenhariaSoftware.Entity.Entidade.Tabela_Base.MetricasOut

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>Resultados</h1>
        <p>Estes são os resultados de sua aplicação em média de tempo para desenvolver e custo.</p>
    </div>
</div>

@if (Model == null)
{
    <p>Você não inseriu ainda os paramêtros</p>
}
else
{
    <h4>Tabela Arquivo</h4>
    @Html.Partial("_Resultados_Arquivo", Model)
    <div class="span6 pull-right" style="text-align: right">
        <p>Total : @Model.TabelasBrutas.TabelaArquivo.Select(x => x.Resultado).Sum()</p>
    </div>

    <hr />

    <h4>Tabela Consulta</h4>
    @Html.Partial("_Resultados_Consulta", Model)
    <div class="span6 pull-right" style="text-align:right">
        <p>Total : @Model.TabelasBrutas.TabelaConsulta.Select(x => x.Resultado).Sum()</p>
    </div>
    <hr />

    <h4>Tabela de Entrada</h4>
    @Html.Partial("_Resultados_Entrada", Model)
    <div class="span6 pull-right" style="text-align: right">
        <p>Total : @Model.TabelasBrutas.TabelaEntrada.Select(x => x.Resultado).Sum()</p>
    </div>

    <hr />

    <h4>Tabela Interface</h4>
    @Html.Partial("_Resultados_Interface", Model)
    <div class="span6 pull-right" style="text-align:right">
        <p>Total : @Model.TabelasBrutas.TabelaInterface.Select(x => x.Resultado).Sum()</p>
    </div>
    <hr />

    <h4>Tabela Saida</h4>
    @Html.Partial("_Resultados_Saida", Model)
    <div class="span6 pull-right" style="text-align:right">
        <p>Total : @Model.TabelasBrutas.TabelaSaida.Select(x => x.Resultado).Sum()</p>
    </div>
    <hr />
 
    <div>
        <p>Valor FPB : @Model.FPB</p>
    </div>

    <div>
        <p>Preco da Linguagem : @Model.PrecoDaLinguagem - @Model.LinguagemProgramacao.StrNomeLinguagemProgramacao </p>
    </div>
    <div>
        <p>Preco do Sistema : @Model.PrecoSistema - @Model.TipoSistema.StrNomeTipoSistema</p>
    </div>
    <div>
        <p>Tempo Total em Extenso @Model.TempoTotalSistemaEmExtenso </p>
    </div>

    <div>
        <p>Este sistema vai lhe Custar: @(Model.PrecoSistema.ToString("C"))</p>
    </div>


}
