@model IEnumerable<MetricaEngenhariaSoftware.Entity.Entidade.MES.MES_TIPO_SISTEMA>

@{
    ViewBag.Title = "Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grid</h2>

@if (Model == null || !Model.Any())
{
    <p>Você não inseriu ainda os paramêtros</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Nome do Tipo de Sistema
            </th>
            <th>
              Valor do Tipo de Sistema
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StrNomeTipoSistema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DecValorTipoSistema)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new {id = item.IntIdTipoSistema}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.IntIdTipoSistema})
                </td>
            </tr>
        }

    </table>
}
<hr />
<div class="btn-group">
    <a class="btn btn-block" href="@Url.Action("Details")">Cadastrar</a>
</div>