@model MetricaEngenhariaSoftware.Entity.Entidade.MES.MES_LINGUAGEM_PROGRAMACAO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Linguagem de Programação</h2>
@using (Html.BeginForm("AddOrUpdate","Linguagem",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IntIdLinguagemProgramacao)

        <div class="form-group">
            <label class="control-label col-md-2">Nome Linguagem</label>
            <div class="col-md-10">
                <input class="form-control" name="StrNomeLinguagemProgramacao" value="@Model.StrNomeLinguagemProgramacao" />
                @Html.ValidationMessageFor(model => model.StrNomeLinguagemProgramacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Valor da Linguagem de Programação</label>
            <div class="col-md-10">
                <input class="form-control" name="DecValorLinguagemProgramacao" value="@Model.DecValorLinguagemProgramacao" />
                @Html.ValidationMessageFor(model => model.DecValorLinguagemProgramacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para a Lista", "Grid")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
