@model List<MetricaEngenhariaSoftware.Entity.Entidade.MES.MES_FA>

@{
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Grid</h2>
@if (Model == null || !Model.Any())
{
    <p>Você não inseriu ainda os paramêtros</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID FA</th>
                <th>Valor FA</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IntIdFa</td>
                    <td>@item.DecValorFa</td>
                    <td>
                        @Html.ActionLink("Detalhes", "Details", new { id = item.IntIdFa }) |
                        @Html.ActionLink("Deletar", "Delete", new { id = item.IntIdFa })
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
<hr />
<div class="btn-group">
    <a class="btn btn-block" href="@Url.Action("Details")">Cadastrar</a>
</div>