<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métricas em Software</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inserir Tabelas", "InserirTabelas", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Paramêtros<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("FA", "Grid", "Fa")</li>
                            <li>@Html.ActionLink("ISO", "Grid", "Iso")</li>
                            <li>@Html.ActionLink("Linguagens de Programação", "Grid", "Linguagem")</li>
                            <li>@Html.ActionLink("Tipos de Sistema", "Grid", "TipoSistema")</li>
                            <li>@Html.ActionLink("Documentação", "Parametros", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Resultados", "Resultados", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .bs-docs-header {
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 24px;
        text-align: left;
    }

    .bs-docs-header {
        margin-bottom: 40px;
        font-size: 20px;
    }

    .bs-docs-header, .bs-docs-masthead {
        position: relative;
        padding: 30px 0px;
        color: #CDBFE3;
        text-align: center;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
        background-color: #6F5499;
        background-image: linear-gradient(to bottom, #563D7C 0px, #6F5499 100%);
        background-repeat: repeat-x;
    }
</style>